<%= render "shared/bandeau", titre: "Ajout d'une personne", texte: "La nouvelle personne sera automatiquement ajoutée à l'exercice courant #{@exercice.nom}" %>
<div class="container">
  <%= render 'form' %>
</div>
