
<div class="row">
  <div class="col-lg-6">
    <%= render "shared/synthese_charges", col_previ: true, col_financeur: false, col_reelle: false %>
 </div>
  <div class="col-lg-6">
  <%= render "shared/synthese_charges", col_previ: false, col_financeur: false, col_reelle: true %>

  </div>
</div>
<%= render "chantiers/cr/solde_cr", total: @total_charges_previ[:total] - @total_charges[:total_reel], titre: "Solde à dépenser" %>
