<%= render "shared/bandeau", titre: "Nouvel exercice", texte: "Création d'un exercice comptable. Le personnel, les chantiers, les fournisseurs etc. doivent être dupliqués pour assurer une comparaison entre et sur différents exercices" %>

<div class="container">
  <div class="container">
  <div class="alert alert-info">
    <h4>Scripts de recopie</h4>
    <p>
      Veuillez lancer les scripts <code>rake</code> suivants afin de faire les recopies et chainages arrières :
    </p>
  </div>
<%= render 'form' %>
</div>

